@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Header Start */

	.nav {
		@apply w-full h-12 flex px-12 items-center shadow-lg z-50 bg-green-200;
	}

	.nav__logo {
		@apply hidden md:block flex-1 text-xl font-bold cursor-pointer;
	}

	.nav__links {
		@apply flex justify-between items-center md:justify-end w-full md:w-2/5;
	}

	.nav__links-link {
		@apply cursor-pointer mr-5;
	}

	.nav__links-link:last-child {
		@apply mr-0;
	}

	/* Header End */

	/* Portfolio Start */

	.portfolio__image {
		@apply relative h-72 w-auto shadow-md hover:shadow-xl opacity-80;
	}

	/* Portfolio End */

	/* Contact Page  Start */
	.contact {
		@apply w-full min-h-screen flex items-center justify-center;
	}

	.contact__container {
		@apply px-5 pt-12 pb-8 mx-1 bg-white shadow-md flex flex-wrap flex-col lg:flex-row w-full h-auto items-start justify-center rounded-xl;
	}

	.contact__info {
		@apply w-full lg:w-1/3 px-4 py-5 flex flex-col justify-center items-center   bg-green-200 h-96 rounded-xl shadow;
	}

	.contact__info--title {
		@apply text-4xl font-semibold;
	}
	yarn .contact__info--paragraph {
		@apply mt-2 text-xl text-left hidden md:text-lg;
	}

	.contact__info--info {
		@apply flex flex-col items-center justify-center w-1/2   mt-5;
	}

	.contact__info-info-details {
		@apply inline-block mb-5 font-semibold text-center text-lg w-full;
	}

	.contact__info-info-details:last-child {
		@apply mt-0 mb-0;
	}

	.contact__info--info-icon {
		@apply h-5 w-5 inline-block;
	}

	.contact__info--socials {
		@apply mt-14 flex w-full justify-evenly;
	}

	.contact__info--socials-icon {
		@apply w-7 h-7 mr-8;
	}

	.contact__info--social-icon:last-child {
		@apply mr-0;
	}

	.contact__info--socials-icon:hover {
		fill: #34d399;
	}

	.contact__form {
		@apply w-full lg:w-2/3 py-2 rounded-xl;
	}

	.contact__form--containter {
		@apply flex flex-wrap;
	}

	.contact__form--input-group {
		@apply w-full  px-3 mb-6 md:mb-0;
	}

	.contact__form--label {
		@apply block tracking-wide text-gray-700 text-sm font-bold mb-2;
	}

	.contact__form--input {
		@apply appearance-none block w-full bg-indigo-100  border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-green-400 focus:shadow-md;
	}

	.contact__form--btn-block {
		@apply md:flex md:items-center w-full px-3 justify-start;
	}

	.contact__form--btn {
		@apply shadow focus:outline-none focus:shadow-md text-black font-bold py-2 px-4 rounded;
	}

	/* Contact Page End */

	/* Modal Start */
	.backdrop {
		@apply fixed top-0 left-0 w-screen h-screen;
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(6px);
		-webkit-backdrop-filter: blur(10px);
	}

	.modal {
		@apply h-5/6 w-5/6  md:flex mx-auto my-14 border-2 border-green-200;
		background: rgba(0, 0, 0, 0.5);
	}

	.modal__image {
		@apply w-2/3;
	}

	.modal__image--img {
		@apply relative w-full h-full z-50;
	}

	.modal__details {
		@apply w-1/3 flex justify-center items-center;
	}

	.modal__details--container {
		@apply w-full bg-green-200 h-full flex items-center;
	}

	.modal__details--details {
		@apply h-3/5 flex flex-wrap items-start px-4;
	}

	.modal__details--title {
		@apply font-semibold text-3xl;
	}

	.modal__details--about {
		@apply overflow-y-auto overflow-x-hidden h-56 text-xl;
	}

	.modal__details--tags {
		@apply flex flex-wrap;
	}

	.modal__details--iconbox {
		@apply flex items-center;
	}

	.modal__details--span {
		@apply ml-3 text-xl font-semibold;
	}

	.modal__details--icon {
		@apply w-7 h-7;
	}

	.modal__details--icon:hover {
		fill: #9ca3af;
	}
}
